* {
    margin: 0;
}
body { 
    background-color: #e9ca7b;
    color: white;
}
.textarea{
    width: 100%;
    font-size: 22px;
    padding: 20px;
    border-radius: 0px 20px;
    outline: none;
}
.textarea:focus{
    box-shadow: 0px 0px 3px 3px royalblue;
}
#preview{
    padding: 40px;
    text-align: left;
    background-color: rgb(80, 177, 170);
    color: black;
    border: 1px solid black;
    box-shadow: 1px 1px 5px 1px gray;
    border-radius: 20px 0px;
}
#preview code {
    background-color: white;
    border-radius: 4px;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
}
#preview pre{
    background-color: azure;
    padding: 10px;
}
.toolbar {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.toolbar button {
    padding: 5px 10px;
    background-color: #a52552; /* Change to your desired button color */
    color: #fff; /* Text color for buttons */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.toolbar button:hover {
    background-color: #22743a; /* Change to hover color */
}
